@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.italic{
    font-style: italic;
}
.center{
    text-align: center;
}
.container{
    max-width: 990px;
    padding: 0 10px;
}
.ckilogo{
    width: 267px;
    margin: 10px 0;
}
.all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-align{
    display: flex;
    align-items: center;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-head-hr{
    border: 1px solid #EC287C;
    margin: 0;
    padding: 0px;
}
.text-head-h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 138.02%;
    color: #EC287C;
    padding: 0px;
    margin: 0;
}
.mail-area{
    max-width: 656px;
}
.all-mail-area{
    margin-top: 30px;
    margin-bottom: 130px;
}
.mail-area-h3{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 138.02%;
    color: #000000;
}
.mail-area-p{
    font-weight: 300;
    font-size: 30px;
    line-height: 138.02%;
    color: #000000;
}
.cki-site-link{
    background: #EC287C;
    border-radius: 21px;
    padding: 13px;
}
.cki-site-box{
    max-width: 830px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cki-box-img{
    width: 213px;
}
.cki-box-h4{
    max-width: 334px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 138.02%;
    color: #FFFFFF;
    margin: 0 22px;
}
a{
    text-decoration: none;
}
.action-btn{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #EC287C;

    background: #F5F5F5;
    border-radius: 11px;
    padding: 24px 50px;
}

footer{
    background: #F8F8F8;
    padding: 60px 0 30px 0;
}
.foot-logo{
    max-width: 167px;
}
.foot-p{
    margin: 38px auto ;
    max-width: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 152.52%;
    text-align: center;
    color: #747474;
}
.copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #404040;
}
.follow{
    max-width: 140px;
    margin: 20px auto;
}
.follow a img{
    width: 20px;
}

/*responcive*/
@media only screen and (max-width: 767px){
    .ckilogo {
        width: 150px;
    }
    .text-head-h1 {
        font-size: 35px;
    }
    .mail-area-h3 {
        font-size: 23px;
    }
    .mail-area-p {
        font-size: 25px;
    }
    .all-mail-area {
        margin-top: 25px;
        margin-bottom: 100px;
    }


    
    .cki-box-h4 {
        max-width: 334px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 138.02%;
        color: #FFFFFF;
        margin: 0 22px;
    }
    .cki-box-img {
        width: 120px;
    }
    .action-btn {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #EC287C;
        background: #F5F5F5;
        border-radius: 8px;
        padding: 18px 30px;
    }
}

@media only screen and (max-width: 420px){
    .ckilogo {
        width: 100px;
    }
    .text-head-h1 {
        font-size: 25px;
    }
    .mail-area-h3 {
        font-size: 18px;
        margin: 0;
    }
    .mail-area-p {
        font-size: 16px;
        margin: 0;
    }
    .all-mail-area {
        margin-top: 25px;
        margin-bottom: 60px;
    }
    .cki-site-box {
        justify-content: space-between;
        flex-direction: column;
    }
    /* .action-btn {
        font-size: 16px;
        line-height: 19px;
        border-radius: 8px;
        padding: 18px 30px;
        margin-top: 15px;
    } */
    .action-btn {
        font-size: 14px;
        line-height: 14px;
        border-radius: 5px;
        padding: 14px 25px;
        margin-top: 15px;
    }


    footer {
        background: #F8F8F8;
        padding: 30px 0 20px 0;
    }
    .foot-logo {
        max-width: 100px;
    }
    .foot-p {
        margin: 25px auto;
    }
}